# Absolute path to the parent folder of main script
DM_DIR=$(dirname "$(readlink -f /bin/dm)")

USERNAME='StringManolo'

USE_WEB_GUI=true
WEB_GUI_PORT=9080

# TODO: TEST HOSTNAME END BY .ONION
HIDDEN_SERVICE_HOSTNAME=$(cat "$DM_DIR/scripts/servers/hidden_service/hidden_service_files/hostname")
HIDDEN_SERVICE_PORT=9443
